
.postnav {
  border-bottom: 1px solid _palette(bg);
  padding: 0.4em;
  list-style: none;
  text-decoration: none;
  // text-transform: uppercase;

  >a {
  text-decoration: none;
  border-bottom: none !important;
  }
}

.postitemnumber {
  font-size: 17pt;
  color: _palette(highlight);
  font-weight: bold;
  float: right;
  top: 13px;
}

.sidebarpost {
  background-color: _palette(grey-light);
  padding:  2em;
}
